body {
  padding-top: 70px;
  background-color: #f1f1f1;
}


/*Navbar and Footer*/

.navbar-brand {
	font-family: 'Fredoka One', cursive;
}

.footer {
/*  position: absolute;
*/  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 60px; /* Vertically center the text there */
}

/* Home */

.home-wrap {
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.anime-wrapper {
	width: 196px;
	height: 275px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	position: relative;
	background-color: #d3d3d3;
}

.anime-img {
	background-size: cover;
	display: block;
	width: 100%;
	height: 100%;
}

/*Inside*/
/*.anime-title {
	position: absolute;
	width: 196px;
	bottom: 0;
	font-size: 1.2em;
	color: #FFF;
	padding: 12px 12px 12px 12px;
}*/

.anime-title {
/*	margin-top: 5px;
*/	font-size: 1.1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

.anime-title a {
	color: inherit;
	font-family: 'PT Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
}

/* Material Design Icons CSs*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
