<!-- <div class="container">

	




	<div class="panel panel-primary" ng-repeat= "anime in vm.mergedAnime">
		<div class="panel-heading">
			<h2 class="panel-title" ng-bind="anime.title_romaji"></h1>

		</div>

		<div class="panel-body" ng-style="{'background-image':'url({{anime.image_url_banner}})'}">
			
			<h2 ng-bind="anime.averageRating || 'N/A' "></h2>
			<p ng-bind="anime.ratings.length || 'No Ratings'"></p>
			<p class="lead" ng-bind="anime.animeId">

		</div>


	</div>
	

</div> -->

<div class="container home-wrap">
	<div class="clearfix airing-wrap">
		<div class="ranking-anime-wrapper" ng-repeat="anime in vm.mergedAnime">
			<a class="anime-img" target="_blank" ng-style="{'background-image':'url({{anime.image_url_lge}})'}">
				<div ng-if="anime.airing_status == 'finished airing'" class="anime-fin"> <p class="nya-text">Finished Airing</p> </div>

				<span class="ranking-circle">
					<p class="ranking-score-text" ng-bind= "anime.averageRating | formatRating "></p> 

				</span>

			</a>

			<div class="anime-title" data-toggle="tooltip" title="{{anime.title_romaji}}" data-placement="bottom" tooltip>
				<a ng-href="//anilist.co/anime/{{anime.id}}" ng-bind="anime.title_romaji" target="_blank"></a>
					
				<div class="ranking-bottom">
					<p ng-bind="anime.ratings | formatCount "></p>
				</div>

			</div>

		</div>

	</div>
</div>
