<div class="jumbotron jumbotron-fluid ranking-banner">
	
	<div class="container">
		<div class="home-title-wrapper">
			<h1 class="home-title-main">
				View the current rankings for your favourites.
			</h1>

			<p>
				Calculated using a weighted average and smoothing algorithm.
			</p>

		</div>
	</div>


</div>

<div class="container home-wrap">
	<div class="clearfix airing-wrap">
		<div class="ranking-anime-wrapper" ng-repeat="anime in vm.mergedAnime">
			<a class="anime-img" target="_blank" ng-style="{'background-image':'url({{anime.image_url_lge}})'}">
				<div ng-if="anime.airing_status == 'finished airing'" class="anime-fin"> <p class="nya-text">Finished Airing</p> </div>

				<span class="ranking-circle">
					<p class="ranking-score-text" ng-bind= "anime.averageRating | formatRating "></p> 

				</span>

			</a>

			<div class="anime-title" data-toggle="tooltip" title="{{anime.title_romaji}}" data-placement="bottom" tooltip>
				<a ng-href="//anilist.co/anime/{{anime.id}}" ng-bind="anime.title_romaji" target="_blank"></a>
					
				<div class="ranking-bottom">
					<p ng-bind="anime.ratings | formatCount "></p>
				</div>

			</div>

		</div>

	</div>
</div>
