<div class="jumbotron jumbotron-fluid home-banner">
<!-- 	<div class="home-img">
 -->		
	
	<div class="container">
		<div class="home-title-wrapper">
			<h1 class="home-title-main">
				A new way to follow the anime season.
			</h1>

			<p>
				Vote weekly on how much you're enjoying each series. 
				<br>
				View the live rankings and see what's trending.
			</p>

		</div>
	</div>
<!-- 	</div>
 -->	

</div>

<div class="container">
	<div class="clearfix home-wrap">
		<div class="anime-wrapper" ng-repeat="anime in vm.anime">
			<a class="anime-img" target="_blank" ng-style="{'background-image':'url({{anime.image_url_lge}})'}">
				<div ng-if="anime.airing_status == 'not yet aired'" class="anime-nya"> <p class="nya-text">Not yet Aired</p> </div>
				<span ng-if="anime.airing_status == 'currently airing'" ng-click="vm.testId(anime.id, anime.title_romaji)" class="rate-show" >
					<p>Rate</p>
				</span>
			</a>


			<div class="anime-title" data-toggle="tooltip" title="{{anime.title_romaji}}" data-placement="top" tooltip>
				<a ng-href="//anilist.co/anime/{{anime.id}}" ng-bind="anime.title_romaji" target="_blank"></a>
			</div>



<!-- 			<button class="btn btn-primary btn-xs" ng-if="anime.airing_status == 'currently airing' " ng-click="vm.testId(anime.id, anime.title_romaji)">
				Here
			</button> -->

		</div>

	</div>
</div>
